header { display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #928aa7;

}
header ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    
}
    
    
    

header ul li{
    
    
    list-style-type:none;
    
}
 header ul li a {
    
   color: bisque;
    background-clip: text;
    -webkit-background-clip: text;
    text-decoration: none;
    font-size:large;
    
 }
header img {
    left: 0;
    width: 200px;
    height: 120px;
    border:#553c9a ;
  
}

header h1 {
   
    
    font-size: 70px;
    font-weight: 600;
   
    color: bisque;
    background-clip: text;
    -webkit-background-clip: text;
    display: flex;
    justify-content: center;
  }
  table, th, td {
    border: 1px solid;
    border-radius: 15px;
  }
  
 table {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
 }
  table th{
    background-color: #553c9a;
  }
  
  td {
    text-align: center;
    font:bolder;
    
  }
  .button {
    background-color:#462c5f;
    border: double
    ;
    border-color: bisque;
    color: white;
    padding: 15px 32px;
    text-align: center;
    
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    color: blue;
    height: 40px;
   
}